{% extends 'bootstrap/base.html' %}
{% block title %}
{% endblock title %}

{% block navbar %}
    {% include '_header.html' %}
{% endblock navbar %}

{% block content %}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    {% block sub_content %}
    {% endblock sub_content %}
{% endblock content %}